@font-face {
    font-family: logo_font;
    src: url(../fonts/Ara-Hamah-AlThawra.ttf);
}

@font-face {
    font-family: segoeuil;
    src: url(../fonts/segoeuil.ttf);
}

@font-face {
    font-family: segoeui;
    src: url(../fonts/segoeui.ttf);
}

@font-face {
    font-family: segoeuib;
    src: url(../fonts/segoeuib.ttf);
}
body {
    background: #212121;
}
.main {
    padding: 15px;
}

.bg-danger {
    color: #fff;
}

.top_from_head {
    margin-top: 25px;
}

.bg-grdnt-danger {
    background: rgba(251, 0, 4, 0.2);
}

.body_bg {
    background: #212121;
    padding: 0;
    height: auto;
    overflow-x: hidden;
}

.bg-dark {
    background: #000 !important;
}

.shrinked_nav {
    margin-left: -13.5%;
}

.shriked_container {
    flex: 0 0 97%;
    max-width: 97%;
}
.container-fluid {
    padding-left: 0 !important;
}
.left_nav {
    background: #121212;
    /* padding: 0; */
    color: #fff;
    min-height: 100vh;
    bottom: 0;
    float: none;
    left: 0;
    top: 0;
}

.menu_toggle {
    position: absolute;
    top: 50vh;
    left: 90%;
    cursor: pointer;
}

body {
    font-family: segoeuil;
}

.navbar-brand span {
    letter-spacing: 5px;
}
.content_box {
    padding-top: 60px;
}


.mb_10 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.no-padding {
    padding: 0;
}
.btn,
.input_edit ,
.input_edit .form-control,
.content_box,
.content_box_ {
    font-size: 12px;
    font-family: segoeui
}

.content_box .head {
    font-family: segoeuib
}

.content_box_ .head {
    font-family: segoeuib
}

.content_box .border-bottom,
.content_box .border-left,
.content_box .border-right,
.content_box_ .border-bottom,
.content_box_ .border-left,
.content_box_ .border-right {
    border-color: #494949 !important;
}

#uploaded_list .card1 {
    background-color: #252525;
    color: #fff;
}

.no-padding-lr {
    padding-left: 0;
    padding-right: 0;
}

.input_edit .form-control {
    padding-left: 3px;
    padding-right: 3px;
}

.input_box .form-control,
.input_box .btn {
    border-radius: 0 !important;
}

.content_box_ .form-control,
.content_box_ .btn {
    font-size: 12px;
}

.content_box h6 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2rem;
    font-family: segoeuil;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    color: #969696 !important;
}

.btn-verify {
    background: #ff3f1c;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 100%;
}

.btn-disabled {
    background: rgba(139, 139, 139, 1.00);
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    color: #fff;
    border-color: #ccc;
    cursor: not-allowed !important;
}

.btn-disabled:hover {
    background: rgba(139, 139, 139, 1.00);
}

.tight-box .btn {
    padding: 5px;
}

.inner-pad {
    padding: 50px;
    padding-top: 25px;
}

.content_box .rounded-top {
    border-top-left-radius: .5rem !important;
    border-top-right-radius: .5rem !important;
}

.content_box .rounded-bottom {
    border-bottom-left-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
}

.content_box .rounded-top-right {
    border-top-right-radius: .5rem !important;
}

.content_box .rounded-bottom-right {
    border-bottom-right-radius: .5rem !important;
}

.wrap_text {
    text-overflow: ellipsis;
    overflow: hidden;
}


/*
.content_box .rounded-left{
border-top-left-radius: .25rem !important;
border-top-right-radius: .25rem !important;
}
.content_box .rounded-right{
border-top-left-radius: .25rem !important;
border-top-right-radius: .25rem !important;
}
*/

.content_box .rounded {
    border-radius: .5rem !important;
}

.tooltip {
    font-family: segoeuil !important;
    background: #DDD08C;
    color: #000;
    padding: 15px;
}

.tooltip li {
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: segoeuil !important;
}

.tooltip h6 {
    margin-left: 30px;
    margin-top: 15px;
}

.blink {
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.head {
    font-size: 16px;
    font-family: segoeui !important;
}

.head.text-success {
    color: #146600 !important;
    text-decoration: none;
    font-family: segoeui;
    font-size: 16px;
}

._white_box .border-bottom,
._white_box .border-left,
._white_box .border-right,
._white_box .border-top,
._white_box .border {
    border-color: #dee2e6 !important;
}


/*.nav-tabs .nav-link {
	color: #5b5b5b;
	border: 1px solid #5b5b5b;
}
.nav-tabs .nav-link {
	border-radius: 0;
	border-bottom: none;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-color: transparent !important;
}
.nav-tabs .nav-link_1 {
	border-radius: 0;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
.nav-link {
	display: block;
	padding: 1rem;
}*/

.comparison_detail .nav-link {
    color: #595c60;
}

.comparison_detail .nav-tabs {
    border: none;
}

.bg-primary {
    background-color: #4fa9db !important;
}

._add_rule {
    padding-top: 15px;
}

.access_ .fa {
    cursor: pointer;
}

.access_action .fa {
    cursor: pointer;
}

.blinking {
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}
td.text-black.bg-warning:hover {
    color:black;

    
}

.dropdown-toggle.btn-light {
    background: #fff;
    border: 1px solid #ced4da;
}

.npi_bulk .mb_10 {
    padding: 10px;
}




.bootstrap-select .dropdown-menu {
    min-width: 100% !important;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(251, 0, 4, 0.53);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

#detailed_view {
    font-size: 12px;
    overflow: auto;
}

#detailed_view table {
    margin-top: 1rem;
    border-color: #505050;
    color: #fff;
}

#detailed_view td .row {
    margin: 0 !important;
}

.pointer {
    cursor: pointer;
}

#detailed_view .modal-content,
#detailed_view .modal-header,
#detailed_view .modal-footer,
#detailed_view .table tbody+tbody {
    background: none;
    border: none;
}

#detailed_view .table-bordered td,
#detailed_view .table-bordered th {
    border: 0.5px solid #626262;
}

.filterbox .form-control,
.filterbox .btn {
    font-size: 12px;
}

.back_btn {
    color: #fff;
}

#detailed_view thead {
    background: #989898;
    color: #000;
}

#detailed_view tfoot {
    background: #fff;
    color: #004711;
}

#detailed_view .close {
    color: #fff;
}

#detailed_view td,
#detailed_view tfoot th {
    text-align: right !important;
}

#detailed_view td:first-child,
#detailed_view tfoot th:first-child {
    text-align: left !important;
    width: 60%;
}

@media screen and (max-aspect-ratio:13/9) {
    .input_edit .btn,
    .input_edit .form-control,
    .content_box,
    .content_box_ {
        font-size: 10px;
    }
    .inner-pad {
        padding: 20px;
    }
}

@media screen and (max-aspect-ratio:13/9) {
    #myBtn {
        right: 15px;
        bottom: 40px;
    }
    #detailed_view,
    #detailed_view .head.text-success {
        font-size: 8px !important;
    }
    #detailed_view .mb_10 {
        padding: 5px;
    }
    #detailed_view td:first-child,
    #detailed_view tfoot th:first-child {
        text-align: left !important;
        width: auto;
    }
}

.is-preloaded {
    position: relative;
    /*background: rgba(255, 255, 255, 0.7);*/
    overflow: hidden;
    width: 100%;
    height: 100px;
}

.is-preloaded:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: loading 3s ease-in-out infinite;
    -moz-animation: loading 3s ease-in-out infinite;
    animation: loading 3s ease-in-out infinite;
}

.gradient--white,
.is-preloaded:after {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, white), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
    /* IE6-8 */
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: translateX(-250px);
    }
    50% {
        -webkit-transform: translateX(250px);
    }
    100% {
        -webkit-transform: translateX(-250px);
    }
}

@-moz-keyframes loading {
    0% {
        -moz-transform: translateX(-250px);
    }
    50% {
        -moz-transform: translateX(250px);
    }
    100% {
        -moz-transform: translateX(-250px);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: translateX(-250px);
        -moz-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -o-transform: translateX(-250px);
        transform: translateX(-250px);
    }
    50% {
        -webkit-transform: translateX(250px);
        -moz-transform: translateX(250px);
        -ms-transform: translateX(250px);
        -o-transform: translateX(250px);
        transform: translateX(250px);
    }
    100% {
        -webkit-transform: translateX(-250px);
        -moz-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -o-transform: translateX(-250px);
        transform: translateX(-250px);
    }
}

thead {
    /* background: #000; */
    color: #000;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #868686 !important;
}

nav.fixed-top .nav-link {
    padding-bottom: 15px;
    padding-top: 15px;
}


/* SELECT 2 */

.select2 {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: gray;
    font-weight: normal;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    color: #000;
    font-weight: bold;
}


/* text box style */

.full_box[type=text] {
    height: 40px;
    /* margin-bottom: 1rem; */
}
.full_box_sm {
    height: 31px;
}
.half_box_lite {
    width: 50%;
}
.half_box,
.full_box_dark,
.full_box_dark_sm {
    background-color: #1b1b1b;
    width: 50%;
    border: 0px solid black;
    border-bottom: 1px solid black;
    height: 40px;
    padding: 5px 10px;
    color: white;
    float: left;
    /* margin-top:10px; */
}
.full_box_dark,
.full_box_dark_sm {
    width: 100%;
    margin-bottom: 1rem;
}
.full_box_dark_sm {
    height: 31px;
}
textarea.full_box_dark {
    height: 122px;
}
.full_box:focus,
.half_box:focus {
    border: 1px solid gray;
    outline: none;
}


.btn,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
    color:#fff;
}


.bg-th {
    background-color: #9e9e9e;
    color: black;
}
.btn {
    /* font-size: 12px; */
    border-radius: 0px !important;
}

.btn-red {
    background-color: #8e0000;
    color: white;
    padding: 10px 37px;
}

.btn-req {
    background-color: #7B7B7B;
    color: white;
    padding: 10px 37px;
    letter-spacing: 2px;
}

.text-light {
    color: #c9c9c9 !important;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* .table thead th {
    border-bottom: none;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #565656;
} */

.list_table th,
.list_table td {
    padding: .50rem;
    vertical-align: middle;
    /* border: 0px; */
    border: 0.01rem solid #cfcfcf;
}

.list_table th {
    text-align: center;
}

.item_table th {
    font-size: 9px;
}

.item_table td {
    font-size: 9px;
}

.input-group-text {
    font-size: 80%;
}

.table {
    font-size: 12px;
}
.td-pointer {
    cursor: pointer;
}
/* @media screen and (min-aspect-ratio:13/9) {
    nav.fixed-top {
        padding-top: 0;
        padding-bottom: 0
    }
    .navbar-nav {
        display: none !important;
    }
    .navbar-toggler {
        display: none;
    }
} */

@media screen and (max-aspect-ratio:13/9) {
    /* .navbar-nav {
        display: block !important;
    } */
    .desktop_logout {
        display: none !important;
    }
    .col-md-4,
    .col-sm-4,
    .col-sm-8,
    .col-sm-10,
    .col-md-7,
    .col-md-5 {
        max-width: 100%;
        flex: 100%;
        ms-flex: 100%;
    }
    #left_nav {
        display: none !important;
    }
}

.bg-summary {
    background-color: #3b3b3b !important;
    color: #fff;
    font-weight: bold;
}

.type_selected {
    background: #4689cc;
    color: #fff;
}

.td_hover:hover {
    background: #afd1f3;
    color: #000;
}

#denomination_p {
    top: 40px;
}

.modal-backdrop.show {
    opacity: 0;
    width: 0;
    height: 0;
}

.input-group-prepend {
    text-align: right;
}

.input-group-text {
    white-space: pre-line;
    text-align: right;
    justify-content: right;
}

.create .input-group-text {
    font-family: segoeuib;
}

#denomination_p .ng-scope .form-control.ng-pristine {
    height: 1.5em;
}

.font-9 {
    font-size: 9px;
}

#edit_transaction .input-group-text {
    font-size: 65%;
}

.menu_ {
    background: #121212;
    color: #7E7C7C !important;
}

.selected_menu {
    background: #840a0a !important;
    box-shadow: inset 0 3px 0 #a33030;
    -webkit-box-shadow: inset 0 3px 0 #a33030
}

.import_menu {
    background: #008e5e !important;
    box-shadow: inset 0 3px 0 #008e5e;
    -webkit-box-shadow: inset 0 3px 0 #4cd7a8
}

.menu_list_box {
    background: #3c3c3c !important;
    box-shadow: inset 0 3px 0 #6330a3;
    -webkit-box-shadow: inset 0 3px 0 #616161
}

.sidebar-nav .nav_ {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0;
}

.sidebar-nav .nav_ a {
    color: #fff;
    margin-bottom: 10px;
}

.sidebar-nav .nav_>li>a:focus,
.sidebar-nav .nav>li>a:hover {
    color: #fff;
}

.sidebar-nav .nav_>li>a {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    letter-spacing: 1.5PX;
    font-size: 1.5vh;
    transition: 0.5s;
    border: none !important;
    width: 100%;
}

.sidebar-nav .nav_>li>a:hover {
    background: rgba(0, 0, 0, 1.00) !important;
    transition: 0.5s;
}

.sidebar-nav .navbar-inner {
    border: none;
    box-shadow: none;
}

#toggle_menu img {
    padding: 5px;
}

.sidebar-nav .nav_>li {
    position: relative;
    display: block;
    line-height: 10px;
    width: 100%;
}

.sidebar-nav .nav_>li>a {
    position: relative;
    display: block;
    text-decoration: none !important;
}

.sidebar-nav {
    margin-top: 15px;
    position:fixed;
}

.logo_pos {
    box-shadow: none;
    background: #121212 !important;
    color: #fff;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: logo_font;
}

.menu_label {
    background: #121212 !important;
    box-shadow: none;
    /* color: #3B3B3B !important; */
    color: #fff !important;
    border: none;
    text-shadow: none;
    padding-bottom: 1vh;
    padding-top: 3vh;
}

.sidebar-nav .nav-list .fa {
    font-size: 1.2vh;
    margin: 10px;
    margin-top: 5px
}

.sidebar-nav .nav_>li>a.not_up {
    border-bottom: none !important;
}

.sidebar-nav .nav_>li>a.menu_inactive:hover,
.sidebar-nav .nav_>li>a.menu_inactive {
    border: none !important;
    background: #121212 !important;
}

.sidebar-nav .nav_>li>a.upload_ {
    position: relative;
    display: block;
    text-decoration: none !important;
    border-bottom: solid 1px #990000 !important;
}

.error_pop {
    cursor: pointer;
}

._error_fa {
    position: absolute;
    left: 5px;
}

.fa-circle {
    position: absolute;
    right: 0;
}

.actv_nav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a91539+0,a81438+1,ae0e3a+1,af0f3b+2,ad0e36+3,ac0d36+6,a80730+9,aa052f+11,a5002a+16,9c0027+23,9c0228+24,980026+26,860023+41,800021+43,7d0020+47,78001e+47,77001e+52,75001b+53,6e001d+55,66001a+63,620019+64,620019+66,5a0117+69,410111+92,400010+95,430011+97,3b010f+99,36020e+100 */
    background: #a91539 !important;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a91539 0%, #a81438 1%, #ae0e3a 1%, #af0f3b 2%, #ad0e36 3%, #ac0d36 6%, #a80730 9%, #aa052f 11%, #a5002a 16%, #9c0027 23%, #9c0228 24%, #980026 26%, #860023 41%, #800021 43%, #7d0020 47%, #78001e 47%, #77001e 52%, #75001b 53%, #6e001d 55%, #66001a 63%, #620019 64%, #620019 66%, #5a0117 69%, #410111 92%, #400010 95%, #430011 97%, #3b010f 99%, #36020e 100%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a91539 0%, #a81438 1%, #ae0e3a 1%, #af0f3b 2%, #ad0e36 3%, #ac0d36 6%, #a80730 9%, #aa052f 11%, #a5002a 16%, #9c0027 23%, #9c0228 24%, #980026 26%, #860023 41%, #800021 43%, #7d0020 47%, #78001e 47%, #77001e 52%, #75001b 53%, #6e001d 55%, #66001a 63%, #620019 64%, #620019 66%, #5a0117 69%, #410111 92%, #400010 95%, #430011 97%, #3b010f 99%, #36020e 100%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a91539 0%, #a81438 1%, #ae0e3a 1%, #af0f3b 2%, #ad0e36 3%, #ac0d36 6%, #a80730 9%, #aa052f 11%, #a5002a 16%, #9c0027 23%, #9c0228 24%, #980026 26%, #860023 41%, #800021 43%, #7d0020 47%, #78001e 47%, #77001e 52%, #75001b 53%, #6e001d 55%, #66001a 63%, #620019 64%, #620019 66%, #5a0117 69%, #410111 92%, #400010 95%, #430011 97%, #3b010f 99%, #36020e 100%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a91539', endColorstr='#36020e', GradientType=0) !important;
    /* IE6-9 */
    color: #fff !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.close {
    text-shadow: none;
}

/* thead {
    font-size: 7px;
} */

.nav-tabs {
    border-bottom: 1px solid #555;
}

.table_denomination thead {
    font-size: 12px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #555
}

.setup-links a {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.5px
}

._filter .form-control,
.add_new .form-control {
    font-size: 12px;
}

.row.justify-content-center.align-items-center {
    margin-left: 0px !important;
    padding-top: 100px;
}
.btn-primary {
    float:right;
    /* margin-bottom: 15px; */
}
label.col-sm-2.col-form-label {
    color: #ffff;
    font-size: 15px;
}

span.form-label {
    font-size: 17px;
}
/* .table td, .table th {
    font-size: 15px;
} */
.btn-success,.text-danger,.btn-danger {
    letter-spacing: 0px;
}
.form-control.fieldhide{
    margin-top: 15px;
    display: none;
}
.fieldshow{
    margin-top: 15px;
}
.hide {
    display: none;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px
}

.select2-container--default .select2-selection--single {
    background-color:#1b1b1b !important;
    border: 1px solid black;
    border-radius: 4px
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -3px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0 !important;
    padding: 6px 12px;
    height: 40px !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 6px !important;
    right: 1px;
    width: 20px
}

li.nav-item {
    font-size: 20px;
}
.text-success {
    font-weight: bold;
}



/* Nav tabs */
.posbos_nav_tabs {
    border: none;
    font-size: 15px;
    /*font-family: futura_bt !important;*/
}

.posbos_nav_tabs .nav-link {
    color: #5b5b5b;
    border: 1px solid #5b5b5b;
    border-radius: 0;
    border-bottom: none;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    border-color: transparent !important;
    display: block;
    padding: 0.7rem;
    letter-spacing: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 56%;
}

.posbos_nav_tabs .nav-link_1 {
    border-radius: 0;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.posbos_nav_tabs .nav-link_2 {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

.posbos_nav_tabs .nav-ink_centre {
    border-radius: 0;
}
.dropdown-item {
    cursor: pointer;
}



.active_tab_enquiry {
    background: #0da5fb;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0da5fb 0%, #11a9fd 1%, #0fa7fb 3%, #14acff 4%, #0da7fd 5%, #0eaaff 7%, #04a5ff 11%, #01a4ff 14%, #00a4fd 17%, #00a1f9 18%, #03a3f9 20%, #019ff6 21%, #009bf0 22%, #019cef 24%, #0098eb 26%, #0299ea 27%, #0095e5 29%, #0297e7 31%, #008fde 33%, #008cdb 34%, #008cdb 36%, #0088d6 37%, #0085d0 39%, #0083cb 41%, #0386ce 42%, #0283c5 44%, #0382c5 46%, #0079bc 48%, #0178ba 50%, #0075b5 50%, #016ea7 59%, #00659b 63%, #02639a 65%, #006093 66%, #006093 69%, #025c90 71%, #005482 75%, #015382 78%, #014c74 83%, #014a6d 90%, #004063 95%, #014061 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0da5fb 0%, #11a9fd 1%, #0fa7fb 3%, #14acff 4%, #0da7fd 5%, #0eaaff 7%, #04a5ff 11%, #01a4ff 14%, #00a4fd 17%, #00a1f9 18%, #03a3f9 20%, #019ff6 21%, #009bf0 22%, #019cef 24%, #0098eb 26%, #0299ea 27%, #0095e5 29%, #0297e7 31%, #008fde 33%, #008cdb 34%, #008cdb 36%, #0088d6 37%, #0085d0 39%, #0083cb 41%, #0386ce 42%, #0283c5 44%, #0382c5 46%, #0079bc 48%, #0178ba 50%, #0075b5 50%, #016ea7 59%, #00659b 63%, #02639a 65%, #006093 66%, #006093 69%, #025c90 71%, #005482 75%, #015382 78%, #014c74 83%, #014a6d 90%, #004063 95%, #014061 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0da5fb 0%, #11a9fd 1%, #0fa7fb 3%, #14acff 4%, #0da7fd 5%, #0eaaff 7%, #04a5ff 11%, #01a4ff 14%, #00a4fd 17%, #00a1f9 18%, #03a3f9 20%, #019ff6 21%, #009bf0 22%, #019cef 24%, #0098eb 26%, #0299ea 27%, #0095e5 29%, #0297e7 31%, #008fde 33%, #008cdb 34%, #008cdb 36%, #0088d6 37%, #0085d0 39%, #0083cb 41%, #0386ce 42%, #0283c5 44%, #0382c5 46%, #0079bc 48%, #0178ba 50%, #0075b5 50%, #016ea7 59%, #00659b 63%, #02639a 65%, #006093 66%, #006093 69%, #025c90 71%, #005482 75%, #015382 78%, #014c74 83%, #014a6d 90%, #004063 95%, #014061 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0da5fb', endColorstr='#014061', GradientType=0);
    /* IE6-9 */
}

.active_tab_quotation
 {
    background: #4b0000;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4b0000 0%, #d37341 0%, #f26923 1%, #ff6513 1%, #fe6813 1%, #fb6510 1%, #ff6414 2%, #ff6311 3%, #fc670b 3%, #fc670d 4%, #ff6412 4%, #ff6512 5%, #fe620d 6%, #ff5f07 11%, #ff5c03 12%, #fd5900 17%, #f75701 21%, #f15500 22%, #f05600 24%, #ea5200 26%, #ea5302 27%, #e64f00 29%, #e35002 31%, #dd4e00 33%, #dc4f00 34%, #cd4900 40%, #c44502 45%, #b84100 49%, #a13800 60%, #973600 63%, #913300 68%, #863001 72%, #832f00 73%, #822e00 75%, #722801 82%, #6f2701 86%, #6a2400 88%, #662402 92%, #632300 92%, #612201 97%, #5c2101 98%, #602000 98%, #5d2001 99%, #531f07 99%, #4c2717 99%, #230a03 100%, #1a0f0d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4b0000 0%, #d37341 0%, #f26923 1%, #ff6513 1%, #fe6813 1%, #fb6510 1%, #ff6414 2%, #ff6311 3%, #fc670b 3%, #fc670d 4%, #ff6412 4%, #ff6512 5%, #fe620d 6%, #ff5f07 11%, #ff5c03 12%, #fd5900 17%, #f75701 21%, #f15500 22%, #f05600 24%, #ea5200 26%, #ea5302 27%, #e64f00 29%, #e35002 31%, #dd4e00 33%, #dc4f00 34%, #cd4900 40%, #c44502 45%, #b84100 49%, #a13800 60%, #973600 63%, #913300 68%, #863001 72%, #832f00 73%, #822e00 75%, #722801 82%, #6f2701 86%, #6a2400 88%, #662402 92%, #632300 92%, #612201 97%, #5c2101 98%, #602000 98%, #5d2001 99%, #531f07 99%, #4c2717 99%, #230a03 100%, #1a0f0d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4b0000 0%, #d37341 0%, #f26923 1%, #ff6513 1%, #fe6813 1%, #fb6510 1%, #ff6414 2%, #ff6311 3%, #fc670b 3%, #fc670d 4%, #ff6412 4%, #ff6512 5%, #fe620d 6%, #ff5f07 11%, #ff5c03 12%, #fd5900 17%, #f75701 21%, #f15500 22%, #f05600 24%, #ea5200 26%, #ea5302 27%, #e64f00 29%, #e35002 31%, #dd4e00 33%, #dc4f00 34%, #cd4900 40%, #c44502 45%, #b84100 49%, #a13800 60%, #973600 63%, #913300 68%, #863001 72%, #832f00 73%, #822e00 75%, #722801 82%, #6f2701 86%, #6a2400 88%, #662402 92%, #632300 92%, #612201 97%, #5c2101 98%, #602000 98%, #5d2001 99%, #531f07 99%, #4c2717 99%, #230a03 100%, #1a0f0d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4b0000', endColorstr='#1a0f0d', GradientType=0);
    /* IE6-9 */
}

.active_tab_invoice
 {
    background: #fec514;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fec514 0%, #ffc310 2%, #fcc40d 4%, #ffc20f 6%, #fec106 8%, #ffc000 12%, #fdbd03 16%, #fbbb01 17%, #f5b900 19%, #edb200 25%, #eab004 25%, #dda800 32%, #d39e02 37%, #b38800 51%, #b18603 52%, #ab8300 54%, #a77e00 57%, #a47c03 58%, #9e7700 60%, #9b7603 61%, #977200 63%, #977200 65%, #906e02 67%, #816000 75%, #7e5f04 76%, #7b5c00 77%, #775900 81%, #715700 82%, #725602 84%, #594500 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fec514 0%, #ffc310 2%, #fcc40d 4%, #ffc20f 6%, #fec106 8%, #ffc000 12%, #fdbd03 16%, #fbbb01 17%, #f5b900 19%, #edb200 25%, #eab004 25%, #dda800 32%, #d39e02 37%, #b38800 51%, #b18603 52%, #ab8300 54%, #a77e00 57%, #a47c03 58%, #9e7700 60%, #9b7603 61%, #977200 63%, #977200 65%, #906e02 67%, #816000 75%, #7e5f04 76%, #7b5c00 77%, #775900 81%, #715700 82%, #725602 84%, #594500 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fec514 0%, #ffc310 2%, #fcc40d 4%, #ffc20f 6%, #fec106 8%, #ffc000 12%, #fdbd03 16%, #fbbb01 17%, #f5b900 19%, #edb200 25%, #eab004 25%, #dda800 32%, #d39e02 37%, #b38800 51%, #b18603 52%, #ab8300 54%, #a77e00 57%, #a47c03 58%, #9e7700 60%, #9b7603 61%, #977200 63%, #977200 65%, #906e02 67%, #816000 75%, #7e5f04 76%, #7b5c00 77%, #775900 81%, #715700 82%, #725602 84%, #594500 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fec514', endColorstr='#594500', GradientType=0);
    /* IE6-9 */
}

.active_tab_order
 {
    background: #ae143a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ae143a 0%, #af153b 1%, #ae0f37 2%, #af0e37 3%, #aa0f39 4%, #aa0f39 5%, #ad0c35 6%, #a5002a 16%, #9b0028 25%, #920025 30%, #900024 35%, #8b0123 36%, #8a0022 39%, #7e0121 45%, #75001d 54%, #64001a 62%, #520016 78%, #4b0215 81%, #4b0014 84%, #3f0110 95%, #3e000d 99%, #410112 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ae143a 0%, #af153b 1%, #ae0f37 2%, #af0e37 3%, #aa0f39 4%, #aa0f39 5%, #ad0c35 6%, #a5002a 16%, #9b0028 25%, #920025 30%, #900024 35%, #8b0123 36%, #8a0022 39%, #7e0121 45%, #75001d 54%, #64001a 62%, #520016 78%, #4b0215 81%, #4b0014 84%, #3f0110 95%, #3e000d 99%, #410112 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ae143a 0%, #af153b 1%, #ae0f37 2%, #af0e37 3%, #aa0f39 4%, #aa0f39 5%, #ad0c35 6%, #a5002a 16%, #9b0028 25%, #920025 30%, #900024 35%, #8b0123 36%, #8a0022 39%, #7e0121 45%, #75001d 54%, #64001a 62%, #520016 78%, #4b0215 81%, #4b0014 84%, #3f0110 95%, #3e000d 99%, #410112 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ae143a', endColorstr='#410112', GradientType=0);
    /* IE6-9 */
}

.active_tab_stock {
    background: #CF7215;
    background: -webkit-linear-gradient(to top, #CF7215 0%, #BACF30 100%);
    background: -moz-linear-gradient(to top, #CF7215 0%, #BACF30 100%);
    background: linear-gradient(to top, rgb(22 60 75) 0%, #4a9ca5 100%);
}


.active_tab_price {
    background: #7b66a1;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7b66a1 0%, #7963a4 3%, #77619f 5%, #76609e 8%, #725c9a 11%, #735d9d 12%, #6a5494 24%, #594584 39%, #584483 42%, #493574 55%, #493775 56%, #443270 61%, #402e6c 63%, #402e6c 66%, #372861 72%, #31225b 79%, #291a51 91%, #2c1a4e 94%, #271a52 94%, #271a52 97%, #271a48 98%, #271a48 99%, #16151d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7b66a1 0%, #7963a4 3%, #77619f 5%, #76609e 8%, #725c9a 11%, #735d9d 12%, #6a5494 24%, #594584 39%, #584483 42%, #493574 55%, #493775 56%, #443270 61%, #402e6c 63%, #402e6c 66%, #372861 72%, #31225b 79%, #291a51 91%, #2c1a4e 94%, #271a52 94%, #271a52 97%, #271a48 98%, #271a48 99%, #16151d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7b66a1 0%, #7963a4 3%, #77619f 5%, #76609e 8%, #725c9a 11%, #735d9d 12%, #6a5494 24%, #594584 39%, #584483 42%, #493574 55%, #493775 56%, #443270 61%, #402e6c 63%, #402e6c 66%, #372861 72%, #31225b 79%, #291a51 91%, #2c1a4e 94%, #271a52 94%, #271a52 97%, #271a48 98%, #271a48 99%, #16151d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7b66a1', endColorstr='#16151d', GradientType=0);
    /* IE6-9 */
}


.active_tab_account {
    background: #7b66a1;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7b66a1 0%, #7963a4 3%, #77619f 5%, #76609e 8%, #725c9a 11%, #735d9d 12%, #6a5494 24%, #594584 39%, #584483 42%, #493574 55%, #493775 56%, #443270 61%, #402e6c 63%, #402e6c 66%, #372861 72%, #31225b 79%, #291a51 91%, #2c1a4e 94%, #271a52 94%, #271a52 97%, #271a48 98%, #271a48 99%, #16151d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7b66a1 0%, #7963a4 3%, #77619f 5%, #76609e 8%, #725c9a 11%, #735d9d 12%, #6a5494 24%, #594584 39%, #584483 42%, #493574 55%, #493775 56%, #443270 61%, #402e6c 63%, #402e6c 66%, #372861 72%, #31225b 79%, #291a51 91%, #2c1a4e 94%, #271a52 94%, #271a52 97%, #271a48 98%, #271a48 99%, #16151d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7b66a1 0%, #7963a4 3%, #77619f 5%, #76609e 8%, #725c9a 11%, #735d9d 12%, #6a5494 24%, #594584 39%, #584483 42%, #493574 55%, #493775 56%, #443270 61%, #402e6c 63%, #402e6c 66%, #372861 72%, #31225b 79%, #291a51 91%, #2c1a4e 94%, #271a52 94%, #271a52 97%, #271a48 98%, #271a48 99%, #16151d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7b66a1', endColorstr='#16151d', GradientType=0);
    /* IE6-9 */
}

.active_tab_settings {
    background: gray;
}
.active_tab_subvendor {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+66 */
    background: rgb(167,207,223); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 66%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 66%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgb(73 131 154) 0%,rgb(34 84 142) 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */

}
.active_tab_dashbord  {
    background: #993333;
}
.active_tab_markup {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+49,23538a+49,23538a+61 */
    background: rgb(167,207,223); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 49%, rgba(35,83,138,1) 49%, rgba(35,83,138,1) 61%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 49%,rgba(35,83,138,1) 49%,rgba(35,83,138,1) 61%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 49%,rgba(35,83,138,1) 49%,rgba(35,83,138,1) 61%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */

}
.active_tab_rma {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+72,bf6e4e+100 */
    background: rgb(240,183,161); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(240,183,161,1) 0%, rgba(140,51,16,1) 50%, rgba(117,34,1,1) 72%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 72%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 72%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */

}

.active_tab_shipment {
    background: #997ACF;
    background: -webkit-linear-gradient(to top, #997ACF 0%, #311FCF 100%);
    background: -moz-linear-gradient(to top, #997ACF 0%, #311FCF 100%);
    background: linear-gradient(to top, #997ACF 0%, #311FCF 100%);
}

.active_tab_rma_shipment {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-g radient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

}


.inactive_tab {
    background: #898989;
    /* Old browsers */
    background: -moz-linear-gradient(top, #898989 0%, #7e7e7e 18%, #7c7c7c 19%, #7a7a7a 23%, #787878 23%, #767676 27%, #676767 41%, #636363 43%, #5f5f5f 49%, #5b5b5b 50%, #5a5a5a 53%, #565656 55%, #525252 60%, #4e4e4e 62%, #424242 73%, #3c3c3c 82%, #3a3a3a 82%, #2e2e2e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #898989 0%, #7e7e7e 18%, #7c7c7c 19%, #7a7a7a 23%, #787878 23%, #767676 27%, #676767 41%, #636363 43%, #5f5f5f 49%, #5b5b5b 50%, #5a5a5a 53%, #565656 55%, #525252 60%, #4e4e4e 62%, #424242 73%, #3c3c3c 82%, #3a3a3a 82%, #2e2e2e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #898989 0%, #7e7e7e 18%, #7c7c7c 19%, #7a7a7a 23%, #787878 23%, #767676 27%, #676767 41%, #636363 43%, #5f5f5f 49%, #5b5b5b 50%, #5a5a5a 53%, #565656 55%, #525252 60%, #4e4e4e 62%, #424242 73%, #3c3c3c 82%, #3a3a3a 82%, #2e2e2e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#898989', endColorstr='#2e2e2e', GradientType=0);
    /* IE6-9 */
}
.action_td i {
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    margin-left: 2px;
}
.bg-tr {
    background-color: #d8d8d8;
    color: black;

}
.input_edit .btn, .input_edit .form-control, .content_box, .content_box_ {

    font-size: 12px;
    font-family: segoeui;
}
.list_table th, .list_table td {
    padding: .50rem;
    vertical-align: middle;
    border: 0.01rem solid #cfcfcf;
}
.search_bar {
    background-color: black;
    padding: 15px;
    margin-top:13px;
    color: #7c7c7c;

}
.pt-25 {
    margin-top: 25px;
}
.minus-margin {
    margin-left: -15px;
    margin-right: -15px;
 }

.btn-search{
    font-size: 14.5px;
    border-radius: 0;
    color: white;
    border: none;
    background: #b84d53;
    background: -moz-linear-gradient(top, #b84d53 0%, #bc4849 3%, #ba4646 4%, #b64346 9%, #b84240 12%, #b74141 15%, #b1393a 21%, #ae3637 28%, #a62e2f 35%, #a42c2d 39%, #9d2526 44%, #9e2627 45%, #971f20 52%, #961e1f 57%, #911b1b 58%, #911b1b 60%, #8e1818 61%, #901a1a 62%, #8a1414 68%, #800f11 77%, #7c0e0f 84%, #740a0a 91%, #710a0b 97%, #6c0808 98%, #6f080c 100%);
    background: -webkit-linear-gradient(top, #b84d53 0%, #bc4849 3%, #ba4646 4%, #b64346 9%, #b84240 12%, #b74141 15%, #b1393a 21%, #ae3637 28%, #a62e2f 35%, #a42c2d 39%, #9d2526 44%, #9e2627 45%, #971f20 52%, #961e1f 57%, #911b1b 58%, #911b1b 60%, #8e1818 61%, #901a1a 62%, #8a1414 68%, #800f11 77%, #7c0e0f 84%, #740a0a 91%, #710a0b 97%, #6c0808 98%, #6f080c 100%);
    background: linear-gradient(to bottom, #b84d53 0%, #bc4849 3%, #ba4646 4%, #b64346 9%, #b84240 12%, #b74141 15%, #b1393a 21%, #ae3637 28%, #a62e2f 35%, #a42c2d 39%, #9d2526 44%, #9e2627 45%, #971f20 52%, #961e1f 57%, #911b1b 58%, #911b1b 60%, #8e1818 61%, #901a1a 62%, #8a1414 68%, #800f11 77%, #7c0e0f 84%, #740a0a 91%, #710a0b 97%, #6c0808 98%, #6f080c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b84d53', endColorstr='#6f080c', GradientType=0);
}


select[readonly]{
    pointer-events: none;
}

/* Dashbord */
/* .small-box {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    display: block;
    margin-bottom: 20px;
    position: relative;
}
.bg-info, .bg-info>a {
    color: #fff!important;
}
.bg-info {
    background-color: #17a2b8!important;
}
.small-box>.inner {
    padding: 10px;
}
.small-box h3, .small-box p {
    z-index: 5;
}
.small-box p {
    font-size: 1rem;
}
.small-box .icon {
    color: rgba(0,0,0,.15);
    z-index: 0;
}
.small-box .icon>i.fa, .small-box .icon>i.fab, .small-box .icon>i.fad, .small-box .icon>i.fal, .small-box .icon>i.far, .small-box .icon>i.fas, .small-box .icon>i.ion {
    font-size: 70px;
    top: 20px;
}
.small-box .icon>i {
    font-size: 90px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: -webkit-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear,-webkit-transform .3s linear;
}
.small-box>.small-box-footer {
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}
.bg-success, .bg-success>a {
    color: #fff!important;
}
.bg-warning, .bg-warning>a {
    color: #1f2d3d!important;
} */

.info-box {
    background-color: #343a40;
    color: #fff;
}
.info-box {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: .25rem;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
    width: 100%;
}

.bg-info, .bg-info>a {
    color: #fff!important;
}
.bg-info {
    background-color: #3498db!important;
}
.info-box .info-box-icon {
    border-radius: .25rem;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}

.bg-info, .bg-info>a {
    color: #fff!important;
}

.bg-info {
    background-color: #17a2b8!important;
}

.elevation-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)!important;
}

.info-box .info-box-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.8;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}

.info-box .info-box-text, .info-box .progress-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
}

.info-box .info-box-number {
    display: block;
    margin-top: .25rem;
    font-weight: 700;
    font-size: 1rem;
}
.badge {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 10px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 3px 5px 4px;
}
.navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: 5px;
    top: 9px;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.card {
    background-color: #343a40;
    color: #fff;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    /* margin-bottom: 1rem; */
    margin-top: 1rem;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    
}
.card-header {
    background-color: #090d11;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin-bottom: 0;
}
.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0 -10px;
}
.card-header>.card-tools {
    float: right;
    margin-right: -.625rem;
}
.card-body {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
b, strong {
    font-weight: bolder;
    font-size: 1rem;
}
.progress-group {
    margin-bottom: .5rem;
    font-size: 1rem;
}
.progress {
    background: #454d55;
    box-shadow: none;
    border-radius: 1px;
}

.progress-sm {
    height: 10px;
}

.bg-primary, .bg-primary>a {
    color: #fff!important;
}
.bg-primary {
    background-color: #3f6791!important;
}

.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.border-right {
    border-right: 1px solid #dee2e6!important;
}
.description-block>.description-header {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.description-block>.description-text {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.p-0 {
    padding: 0!important;
}
.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pl-2, .px-2 {
    padding-left: .5rem!important;
}
.pr-2, .px-2 {
    padding-right: .5rem!important;
}
.products-list>.item {
    background-color: #343a40;
    color: #fff;
    border-bottom-color: #6c757d;
    padding: 10px 0;
}
.product-list-in-card>.item {
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.products-list .product-img {
    float: left;
}
.products-list .product-img img {
    height: 50px;
    width: 50px;
}
.products-list .product-info {
    margin-left: 60px;
    font-size: 1rem;
    line-height: 1.5;
}
.products-list .product-description {
    color: #6c757d;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ced4da;
}

.card .card-footer {
    background-color: rgba(0,0,0,.1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.table-responsive  {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

}
.dash {
    font-size: 1rem;
    line-height: 1.5;
}
.dash thead th {
    border-bottom-color: #6c757d;
    vertical-align: bottom;
    border-bottom-color: #6c757d;
    border-bottom: 0px;
}

.dash td, .dash th {
    padding: .75rem;
    vertical-align: top;
    border-top-color: #343a4061;
    color: white;
    font-weight:normal;
}
.dash thead {
    background: none;
}

.dark-mode .dropdown-menu {
    background-color: #343a40;
    color: #fff;
}

/** chat **/
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu-lg {
    max-width: 300px;
    min-width: 280px !important;
    padding: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
}
.dropdown-menu.dropdown-menu-lg.dropdown-menu-right.show {
    left: inherit;
    right: -73px;
}
.dropdown-footer, .dropdown-header {
    display: block;
    font-size: .875rem;
    padding: .5rem 1rem;
    text-align: center;
}
.dark-mode a:not(.btn):hover {
    color: #3395ff;
}
.dark-mode .dropdown-item:focus, .dark-mode .dropdown-item:hover {
    background-color: #3f474e;
}
.dark-mode .dropdown-item:focus, .dark-mode .dropdown-item:hover {
    background-color: #3f474e;
}
.dark-mode .dropdown-item {
    color: #fff;
}

.media {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color:white;
}

.img-size-50 {
    width: 50px;
}
.img-size-32, .img-size-50, .img-size-64 {
    height: auto;
}
.img-circle {
    border-radius: 50%;
}
.mr-3, .mx-3 {
    margin-right: 1rem!important;
}
.dropdown-item-title {
    font-size: 1rem;
    margin: 0;
}
.dropdown-menu-lg p {
    margin: 0;
    white-space: normal;
}
.text-sm {
    font-size: .875rem!important;
}
.dark-mode .text-muted {
    color: #adb5bd!important;
}
a.dropdown-item.dropdown-footer {
    color:white;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.fab, .far {
    font-weight: 400;
}


.main-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1037;
}

.dark-mode .navbar-dark {
    background-color: black;
    border-color: #4b545c;
}

.nav-item .nav-link > .img-avatar, .nav-item .avatar.nav-link > img {
    height: 35px;
    margin: 0 10px;
}
.img-avatar, .avatar > img, .img-circle {
    max-width: 100%;
    height: auto;
    border-radius: 50em;
}
.btn-tool {
    background-color: transparent;
    color: #adb5bd;
    font-size: .875rem;
    margin: -.75rem 0;
    padding: .25rem .5rem;
}
.btn-group.show .btn-tool, .btn-tool:hover {
    color: #495057;
}
.img-size-32 {
    width: 32px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar_right {
    background-color:#090d11;
    height: 100%;
    position: fixed;
    right: -300px;
    top: 0;
    -moz-transition: right 0.2s linear;
    -o-transition: right 0.2s linear;
    -webkit-transition: right 0.2s linear;
    transition: right 0.2s linear;
    width: 300px;
    z-index: 9001;/* IT'S OVER 9000! */
  }

  .sidebar_right #menuToggle {
    /* background: #121212d1;  */
    display: block;
    position: relative;
    height: 40px;
    left: -42px;
    top: 50%;
    width: 50px;
    transform: rotate(90deg);
  }

  .sidebar_right  #menuToggle span {
    background: white;
    display: block;
    height: 6%;
    left: 19%;
    position: absolute;
    top: 45%;
    width: 50%;
  }

  .sidebar_right #menuToggle span:before,
  .sidebar_right #menuToggle span:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: -250%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 100%;
  }

  .sidebar_right #menuToggle span:after { top: 250%; }

  .sidebar_right a:nth-child(n+2) {
    color: white;
    display: block;
    font-size: 2.5em;
    margin: 30px 0 30px 30px;
  }

  .sidebar_right a:nth-child(n+2):after {
    background: #ffa53e;
    content: '';
    display: block;
    height: 2px;
    -moz-transition: width 0.2s;
    -o-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    width: 0;
  }

  .sidebar_right a:nth-child(n+2):hover:after { width: 100%; }

  .open { right: 0; }

  .open #menuToggle span {
    background: transparent;
    left: 10%;
    top: 45%;
  }

  .open #menuToggle span:before,
  .open #menuToggle span:after {
    background: white;
    top: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .open #menuToggle span:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #menuToggle .navClosed {
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    -webkit-transition: background 0.1s linear;
    transition: background 0.1s linear;
  }

  #menuToggle .navClosed:before,
  #menuToggle .navClosed:after {
    -moz-transition: top 0.2s linear 0.1s, -moz-transform 0.2s linear 0.1s;
    -o-transition: top 0.2s linear 0.1s, -o-transform 0.2s linear 0.1s;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
    -webkit-transition-delay: 0.1s, 0.1s;
    transition: top 0.2s linear 0.1s, transform 0.2s linear 0.1s;
  }

  #menuToggle .navOpen {
    -moz-transition: background 0.1s linear 0.2s;
    -o-transition: background 0.1s linear 0.2s;
    -webkit-transition: background 0.1s linear;
    -webkit-transition-delay: 0.2s;
    transition: background 0.1s linear 0.2s;
  }

  #menuToggle .navOpen:before,
  #menuToggle .navOpen:after {
    -moz-transition: top 0.2s linear, -moz-transform 0.2s linear;
    -o-transition: top 0.2s linear, -o-transform 0.2s linear;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
    transition: top 0.2s linear, transform 0.2s linear;
  }
  .dark{
    background: #121212d1 !important;
  }
  .form-btn1 {
      margin-top: 30px;
  }
  .pcls {
    color:#fff;
    font-size:14px;
  }
  .dark-mode .card {
    background-color: #343a40;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}
.badge-warning {
    color: #1f2d3d;
    background-color: #ffc107;
}
.direct-chat .card-body {
	overflow-x: hidden;
	padding: 0;
	position: relative
}

.direct-chat.chat-pane-open .direct-chat-contacts {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0)
}

.direct-chat.timestamp-light .direct-chat-timestamp {
	color: #30465f
}

.direct-chat.timestamp-dark .direct-chat-timestamp {
	color: #ccc
}

.direct-chat-messages {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	height: 250px;
	overflow: auto;
	padding: 10px
}

.direct-chat-msg,
.direct-chat-text {
	display: block
}

.direct-chat-msg {
	margin-bottom: 10px
}

.direct-chat-msg::after {
	display: block;
	clear: both;
	content: ""
}

.direct-chat-contacts,
.direct-chat-messages {
	transition: -webkit-transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
	transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out
}

.direct-chat-text {
	border-radius: .3rem;
	background-color: #d2d6de;
	border: 1px solid #d2d6de;
	color: #444;
	margin: 5px 0 0 50px;
	padding: 5px 10px;
	position: relative
}

.direct-chat-text::after,
.direct-chat-text::before {
	border: solid transparent;
	border-right-color: #d2d6de;
	content: " ";
	height: 0;
	pointer-events: none;
	position: absolute;
	right: 100%;
	top: 15px;
	width: 0
}

.direct-chat-text::after {
	border-width: 5px;
	margin-top: -5px
}

.direct-chat-text::before {
	border-width: 6px;
	margin-top: -6px
}

.right .direct-chat-text {
	margin-left: 0;
	margin-right: 50px
}

.right .direct-chat-text::after,
.right .direct-chat-text::before {
	border-left-color: #d2d6de;
	border-right-color: transparent;
	left: 100%;
	right: auto
}

.direct-chat-img {
	border-radius: 50%;
	float: left;
	height: 40px;
	width: 40px
}

.right .direct-chat-img {
	float: right
}

.direct-chat-infos {
	display: block;
	font-size: .875rem;
	margin-bottom: 2px
}

.direct-chat-name {
	font-weight: 600
}

.direct-chat-timestamp {
	color: #697582
}

.direct-chat-contacts-open .direct-chat-contacts {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0)
}

.direct-chat-contacts {
	-webkit-transform: translate(101%, 0);
	transform: translate(101%, 0);
	background-color: #343a40;
	bottom: 0;
	color: #fff;
	height: 250px;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 100%
}

.direct-chat-contacts-light {
	background-color: #f8f9fa
}

.direct-chat-contacts-light .contacts-list-name {
	color: #495057
}

.direct-chat-contacts-light .contacts-list-date {
	color: #6c757d
}

.direct-chat-contacts-light .contacts-list-msg {
	color: #545b62
}

.contacts-list {
	padding-left: 0;
	list-style: none
}

.contacts-list>li {
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	margin: 0;
	padding: 10px
}

.contacts-list>li::after {
	display: block;
	clear: both;
	content: ""
}

.contacts-list>li:last-of-type {
	border-bottom: 0
}

.contacts-list-img {
	border-radius: 50%;
	float: left;
	width: 40px
}

.contacts-list-info {
	color: #fff;
	margin-left: 45px
}

.contacts-list-name,
.contacts-list-status {
	display: block
}

.contacts-list-name {
	font-weight: 600
}

.contacts-list-status {
	font-size: .875rem
}

.contacts-list-date {
	color: #ced4da;
	font-weight: 400
}

.contacts-list-msg {
	color: #b1bbc4
}

.direct-chat-primary .right>.direct-chat-text {
	background-color: #007bff;
	border-color: #007bff;
	color: #fff
}

.direct-chat-primary .right>.direct-chat-text::after,
.direct-chat-primary .right>.direct-chat-text::before {
	border-left-color: #007bff
}

.direct-chat-secondary .right>.direct-chat-text {
	background-color: #6c757d;
	border-color: #6c757d;
	color: #fff
}

.direct-chat-secondary .right>.direct-chat-text::after,
.direct-chat-secondary .right>.direct-chat-text::before {
	border-left-color: #6c757d
}

.direct-chat-success .right>.direct-chat-text {
	background-color: #28a745;
	border-color: #28a745;
	color: #fff
}

.direct-chat-success .right>.direct-chat-text::after,
.direct-chat-success .right>.direct-chat-text::before {
	border-left-color: #28a745
}

.direct-chat-info .right>.direct-chat-text {
	background-color: #17a2b8;
	border-color: #17a2b8;
	color: #fff
}

.direct-chat-info .right>.direct-chat-text::after,
.direct-chat-info .right>.direct-chat-text::before {
	border-left-color: #17a2b8
}

.direct-chat-warning .right>.direct-chat-text {
	background-color: #ffc107;
	border-color: #ffc107;
	color: #1f2d3d
}

.direct-chat-warning .right>.direct-chat-text::after,
.direct-chat-warning .right>.direct-chat-text::before {
	border-left-color: #ffc107
}

.direct-chat-danger .right>.direct-chat-text {
	background-color: #dc3545;
	border-color: #dc3545;
	color: #fff
}

.direct-chat-danger .right>.direct-chat-text::after,
.direct-chat-danger .right>.direct-chat-text::before {
	border-left-color: #dc3545
}

.direct-chat-light .right>.direct-chat-text {
	background-color: #f8f9fa;
	border-color: #f8f9fa;
	color: #1f2d3d
}

.direct-chat-light .right>.direct-chat-text::after,
.direct-chat-light .right>.direct-chat-text::before {
	border-left-color: #f8f9fa
}

.direct-chat-dark .right>.direct-chat-text {
	background-color: #343a40;
	border-color: #343a40;
	color: #fff
}

.direct-chat-dark .right>.direct-chat-text::after,
.direct-chat-dark .right>.direct-chat-text::before {
	border-left-color: #343a40
}

.direct-chat-lightblue .right>.direct-chat-text {
	background-color: #3c8dbc;
	border-color: #3c8dbc;
	color: #fff
}

.direct-chat-lightblue .right>.direct-chat-text::after,
.direct-chat-lightblue .right>.direct-chat-text::before {
	border-left-color: #3c8dbc
}

.direct-chat-navy .right>.direct-chat-text {
	background-color: #001f3f;
	border-color: #001f3f;
	color: #fff
}

.direct-chat-navy .right>.direct-chat-text::after,
.direct-chat-navy .right>.direct-chat-text::before {
	border-left-color: #001f3f
}

.direct-chat-olive .right>.direct-chat-text {
	background-color: #3d9970;
	border-color: #3d9970;
	color: #fff
}

.direct-chat-olive .right>.direct-chat-text::after,
.direct-chat-olive .right>.direct-chat-text::before {
	border-left-color: #3d9970
}

.direct-chat-lime .right>.direct-chat-text {
	background-color: #01ff70;
	border-color: #01ff70;
	color: #1f2d3d
}

.direct-chat-lime .right>.direct-chat-text::after,
.direct-chat-lime .right>.direct-chat-text::before {
	border-left-color: #01ff70
}

.direct-chat-fuchsia .right>.direct-chat-text {
	background-color: #f012be;
	border-color: #f012be;
	color: #fff
}

.direct-chat-fuchsia .right>.direct-chat-text::after,
.direct-chat-fuchsia .right>.direct-chat-text::before {
	border-left-color: #f012be
}

.direct-chat-maroon .right>.direct-chat-text {
	background-color: #d81b60;
	border-color: #d81b60;
	color: #fff
}

.direct-chat-maroon .right>.direct-chat-text::after,
.direct-chat-maroon .right>.direct-chat-text::before {
	border-left-color: #d81b60
}

.direct-chat-blue .right>.direct-chat-text {
	background-color: #007bff;
	border-color: #007bff;
	color: #fff
}

.direct-chat-blue .right>.direct-chat-text::after,
.direct-chat-blue .right>.direct-chat-text::before {
	border-left-color: #007bff
}

.direct-chat-indigo .right>.direct-chat-text {
	background-color: #6610f2;
	border-color: #6610f2;
	color: #fff
}

.direct-chat-indigo .right>.direct-chat-text::after,
.direct-chat-indigo .right>.direct-chat-text::before {
	border-left-color: #6610f2
}

.direct-chat-purple .right>.direct-chat-text {
	background-color: #6f42c1;
	border-color: #6f42c1;
	color: #fff
}

.direct-chat-purple .right>.direct-chat-text::after,
.direct-chat-purple .right>.direct-chat-text::before {
	border-left-color: #6f42c1
}

.direct-chat-pink .right>.direct-chat-text {
	background-color: #e83e8c;
	border-color: #e83e8c;
	color: #fff
}

.direct-chat-pink .right>.direct-chat-text::after,
.direct-chat-pink .right>.direct-chat-text::before {
	border-left-color: #e83e8c
}

.direct-chat-red .right>.direct-chat-text {
	background-color: #dc3545;
	border-color: #dc3545;
	color: #fff
}

.direct-chat-red .right>.direct-chat-text::after,
.direct-chat-red .right>.direct-chat-text::before {
	border-left-color: #dc3545
}

.direct-chat-orange .right>.direct-chat-text {
	background-color: #fd7e14;
	border-color: #fd7e14;
	color: #1f2d3d
}

.direct-chat-orange .right>.direct-chat-text::after,
.direct-chat-orange .right>.direct-chat-text::before {
	border-left-color: #fd7e14
}

.direct-chat-yellow .right>.direct-chat-text {
	background-color: #ffc107;
	border-color: #ffc107;
	color: #1f2d3d
}

.direct-chat-yellow .right>.direct-chat-text::after,
.direct-chat-yellow .right>.direct-chat-text::before {
	border-left-color: #ffc107
}

.direct-chat-green .right>.direct-chat-text {
	background-color: #28a745;
	border-color: #28a745;
	color: #fff
}

.direct-chat-green .right>.direct-chat-text::after,
.direct-chat-green .right>.direct-chat-text::before {
	border-left-color: #28a745
}

.direct-chat-teal .right>.direct-chat-text {
	background-color: #20c997;
	border-color: #20c997;
	color: #fff
}

.direct-chat-teal .right>.direct-chat-text::after,
.direct-chat-teal .right>.direct-chat-text::before {
	border-left-color: #20c997
}

.direct-chat-cyan .right>.direct-chat-text {
	background-color: #17a2b8;
	border-color: #17a2b8;
	color: #fff
}

.direct-chat-cyan .right>.direct-chat-text::after,
.direct-chat-cyan .right>.direct-chat-text::before {
	border-left-color: #17a2b8
}

.direct-chat-white .right>.direct-chat-text {
	background-color: #fff;
	border-color: #fff;
	color: #1f2d3d
}

.direct-chat-white .right>.direct-chat-text::after,
.direct-chat-white .right>.direct-chat-text::before {
	border-left-color: #fff
}

.direct-chat-gray .right>.direct-chat-text {
	background-color: #6c757d;
	border-color: #6c757d;
	color: #fff
}

.direct-chat-gray .right>.direct-chat-text::after,
.direct-chat-gray .right>.direct-chat-text::before {
	border-left-color: #6c757d
}

.direct-chat-gray-dark .right>.direct-chat-text {
	background-color: #343a40;
	border-color: #343a40;
	color: #fff
}

.direct-chat-gray-dark .right>.direct-chat-text::after,
.direct-chat-gray-dark .right>.direct-chat-text::before {
	border-left-color: #343a40
}

.dark-mode .direct-chat-text {
	background-color: #454d55;
	border-color: #4b545c;
	color: #fff
}

.dark-mode .direct-chat-text::after,
.dark-mode .direct-chat-text::before {
	border-right-color: #4b545c
}

.dark-mode .direct-chat-timestamp {
	color: #adb5bd
}

.dark-mode .right>.direct-chat-text::after,
.dark-mode .right>.direct-chat-text::before {
	border-right-color: transparent
}

.dark-mode .direct-chat-primary .right>.direct-chat-text {
	background-color: #3f6791;
	border-color: #3f6791;
	color: #fff
}

.dark-mode .direct-chat-primary .right>.direct-chat-text::after,
.dark-mode .direct-chat-primary .right>.direct-chat-text::before {
	border-left-color: #3f6791
}

.dark-mode .direct-chat-secondary .right>.direct-chat-text {
	background-color: #6c757d;
	border-color: #6c757d;
	color: #fff
}

.dark-mode .direct-chat-secondary .right>.direct-chat-text::after,
.dark-mode .direct-chat-secondary .right>.direct-chat-text::before {
	border-left-color: #6c757d
}

.dark-mode .direct-chat-success .right>.direct-chat-text {
	background-color: #00bc8c;
	border-color: #00bc8c;
	color: #fff
}

.dark-mode .direct-chat-success .right>.direct-chat-text::after,
.dark-mode .direct-chat-success .right>.direct-chat-text::before {
	border-left-color: #00bc8c
}

.dark-mode .direct-chat-info .right>.direct-chat-text {
	background-color: #3498db;
	border-color: #3498db;
	color: #fff
}

.dark-mode .direct-chat-info .right>.direct-chat-text::after,
.dark-mode .direct-chat-info .right>.direct-chat-text::before {
	border-left-color: #3498db
}

.dark-mode .direct-chat-warning .right>.direct-chat-text {
	background-color: #f39c12;
	border-color: #f39c12;
	color: #1f2d3d
}

.dark-mode .direct-chat-warning .right>.direct-chat-text::after,
.dark-mode .direct-chat-warning .right>.direct-chat-text::before {
	border-left-color: #f39c12
}

.dark-mode .direct-chat-danger .right>.direct-chat-text {
	background-color: #e74c3c;
	border-color: #e74c3c;
	color: #fff
}

.dark-mode .direct-chat-danger .right>.direct-chat-text::after,
.dark-mode .direct-chat-danger .right>.direct-chat-text::before {
	border-left-color: #e74c3c
}

.dark-mode .direct-chat-light .right>.direct-chat-text {
	background-color: #f8f9fa;
	border-color: #f8f9fa;
	color: #1f2d3d
}

.dark-mode .direct-chat-light .right>.direct-chat-text::after,
.dark-mode .direct-chat-light .right>.direct-chat-text::before {
	border-left-color: #f8f9fa
}

.dark-mode .direct-chat-dark .right>.direct-chat-text {
	background-color: #343a40;
	border-color: #343a40;
	color: #fff
}

.dark-mode .direct-chat-dark .right>.direct-chat-text::after,
.dark-mode .direct-chat-dark .right>.direct-chat-text::before {
	border-left-color: #343a40
}

.dark-mode .direct-chat-lightblue .right>.direct-chat-text {
	background-color: #86bad8;
	border-color: #86bad8;
	color: #1f2d3d
}

.dark-mode .direct-chat-lightblue .right>.direct-chat-text::after,
.dark-mode .direct-chat-lightblue .right>.direct-chat-text::before {
	border-left-color: #86bad8
}

.dark-mode .direct-chat-navy .right>.direct-chat-text {
	background-color: #002c59;
	border-color: #002c59;
	color: #fff
}

.dark-mode .direct-chat-navy .right>.direct-chat-text::after,
.dark-mode .direct-chat-navy .right>.direct-chat-text::before {
	border-left-color: #002c59
}

.dark-mode .direct-chat-olive .right>.direct-chat-text {
	background-color: #74c8a3;
	border-color: #74c8a3;
	color: #1f2d3d
}

.dark-mode .direct-chat-olive .right>.direct-chat-text::after,
.dark-mode .direct-chat-olive .right>.direct-chat-text::before {
	border-left-color: #74c8a3
}

.dark-mode .direct-chat-lime .right>.direct-chat-text {
	background-color: #67ffa9;
	border-color: #67ffa9;
	color: #1f2d3d
}

.dark-mode .direct-chat-lime .right>.direct-chat-text::after,
.dark-mode .direct-chat-lime .right>.direct-chat-text::before {
	border-left-color: #67ffa9
}

.dark-mode .direct-chat-fuchsia .right>.direct-chat-text {
	background-color: #f672d8;
	border-color: #f672d8;
	color: #1f2d3d
}

.dark-mode .direct-chat-fuchsia .right>.direct-chat-text::after,
.dark-mode .direct-chat-fuchsia .right>.direct-chat-text::before {
	border-left-color: #f672d8
}

.dark-mode .direct-chat-maroon .right>.direct-chat-text {
	background-color: #ed6c9b;
	border-color: #ed6c9b;
	color: #1f2d3d
}

.dark-mode .direct-chat-maroon .right>.direct-chat-text::after,
.dark-mode .direct-chat-maroon .right>.direct-chat-text::before {
	border-left-color: #ed6c9b
}

.dark-mode .direct-chat-blue .right>.direct-chat-text {
	background-color: #3f6791;
	border-color: #3f6791;
	color: #fff
}

.dark-mode .direct-chat-blue .right>.direct-chat-text::after,
.dark-mode .direct-chat-blue .right>.direct-chat-text::before {
	border-left-color: #3f6791
}

.dark-mode .direct-chat-indigo .right>.direct-chat-text {
	background-color: #6610f2;
	border-color: #6610f2;
	color: #fff
}

.dark-mode .direct-chat-indigo .right>.direct-chat-text::after,
.dark-mode .direct-chat-indigo .right>.direct-chat-text::before {
	border-left-color: #6610f2
}

.dark-mode .direct-chat-purple .right>.direct-chat-text {
	background-color: #6f42c1;
	border-color: #6f42c1;
	color: #fff
}

.dark-mode .direct-chat-purple .right>.direct-chat-text::after,
.dark-mode .direct-chat-purple .right>.direct-chat-text::before {
	border-left-color: #6f42c1
}

.dark-mode .direct-chat-pink .right>.direct-chat-text {
	background-color: #e83e8c;
	border-color: #e83e8c;
	color: #fff
}

.dark-mode .direct-chat-pink .right>.direct-chat-text::after,
.dark-mode .direct-chat-pink .right>.direct-chat-text::before {
	border-left-color: #e83e8c
}

.dark-mode .direct-chat-red .right>.direct-chat-text {
	background-color: #e74c3c;
	border-color: #e74c3c;
	color: #fff
}

.dark-mode .direct-chat-red .right>.direct-chat-text::after,
.dark-mode .direct-chat-red .right>.direct-chat-text::before {
	border-left-color: #e74c3c
}

.dark-mode .direct-chat-orange .right>.direct-chat-text {
	background-color: #fd7e14;
	border-color: #fd7e14;
	color: #1f2d3d
}

.dark-mode .direct-chat-orange .right>.direct-chat-text::after,
.dark-mode .direct-chat-orange .right>.direct-chat-text::before {
	border-left-color: #fd7e14
}

.dark-mode .direct-chat-yellow .right>.direct-chat-text {
	background-color: #f39c12;
	border-color: #f39c12;
	color: #1f2d3d
}

.dark-mode .direct-chat-yellow .right>.direct-chat-text::after,
.dark-mode .direct-chat-yellow .right>.direct-chat-text::before {
	border-left-color: #f39c12
}

.dark-mode .direct-chat-green .right>.direct-chat-text {
	background-color: #00bc8c;
	border-color: #00bc8c;
	color: #fff
}

.dark-mode .direct-chat-green .right>.direct-chat-text::after,
.dark-mode .direct-chat-green .right>.direct-chat-text::before {
	border-left-color: #00bc8c
}

.dark-mode .direct-chat-teal .right>.direct-chat-text {
	background-color: #20c997;
	border-color: #20c997;
	color: #fff
}

.dark-mode .direct-chat-teal .right>.direct-chat-text::after,
.dark-mode .direct-chat-teal .right>.direct-chat-text::before {
	border-left-color: #20c997
}

.dark-mode .direct-chat-cyan .right>.direct-chat-text {
	background-color: #3498db;
	border-color: #3498db;
	color: #fff
}

.dark-mode .direct-chat-cyan .right>.direct-chat-text::after,
.dark-mode .direct-chat-cyan .right>.direct-chat-text::before {
	border-left-color: #3498db
}

.dark-mode .direct-chat-white .right>.direct-chat-text {
	background-color: #fff;
	border-color: #fff;
	color: #1f2d3d
}

.dark-mode .direct-chat-white .right>.direct-chat-text::after,
.dark-mode .direct-chat-white .right>.direct-chat-text::before {
	border-left-color: #fff
}

.dark-mode .direct-chat-gray .right>.direct-chat-text {
	background-color: #6c757d;
	border-color: #6c757d;
	color: #fff
}

.dark-mode .direct-chat-gray .right>.direct-chat-text::after,
.dark-mode .direct-chat-gray .right>.direct-chat-text::before {
	border-left-color: #6c757d
}

.dark-mode .direct-chat-gray-dark .right>.direct-chat-text {
	background-color: #343a40;
	border-color: #343a40;
	color: #fff
}

.dark-mode .direct-chat-gray-dark .right>.direct-chat-text::after,
.dark-mode .direct-chat-gray-dark .right>.direct-chat-text::before {
	border-left-color: #343a40
}

.card.dark{
    width: 100%;
    height: 92%;
    margin-top: 0px !important;
    overflow: auto;
    /* padding-right: 15px; */

  }
  
  ul.nav.navbar-nav.ml-auto {
    background-color: #212121;
    padding-top: 18%;
    position: absolute;
    z-index: 999;
    width: 60%;
    height: 100%;
}
li.nav-item {

    color: #fff;
}
@media only screen and (min-width: 720px) {
  ul.navbar-nav.mobilemenu {
      display: none;
  }
}
@media only screen and (max-width: 720px) {
li.nav-item {
  text-align: center;
}
ul.nav.navbar-nav.ml-auto li.nav-item {
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    padding-top:7px;
    padding-bottom:7px;
}
a.nav-link {
    color: #fff;
}
ul.navbar-nav.ml-auto {
    padding-top: 3px;
}
.navbar-expand .navbar-nav .nav-link {
    padding-right: 14px !important;
    padding-left: 8px !important;
}
img.img-avatar {
    height: 25px !important;
        margin: unset !important;
}
}
table.table.table-bordered.table-dark.list_table.fixed_head_ th {
    color: #fff;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
}
.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #95999c;
}

.bg-th th {
    color: black !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.notifiscroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.notifiscroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll; 
  width: auto; 
  height: 254px;
}

/* ansiya */
.card.dark::-webkit-scrollbar {
    display: none;
}

tr.rows:nth-child(even) {
    background-color: #233446;
}
tr.rows:nth-child(odd){
    background-color: #203040;
}
.table td.orgprice {
    padding: 0px !important;
    vertical-align: middle;
    /* text-align: right; */
    font-size: 15px;
    font-weight: bold;
}
.dash{
    font-size:14px !important;
}
.mr-1 {
    margin-right: -1rem !important;
}
.return
{
    display:none;
}
tr.rows td {
    vertical-align: middle;
}
nav.sidebar_right.price.open {
    width: 350px;
}
.green {
    color: #189a66 !important;
}
.red {
    color: #dc3231 !important;
}
.mark, mark {
    padding: 7px !important;
}
td.total {
    font-size: 14px;
    text-transform: uppercase;
}
.add_field {
    margin-top: 10px;
    border: 1px solid #383838;
}
.form-btn1.add_btn {
    margin-top: 40px;
}
.form_add{
    border: 1px solid #95999c;
    padding: 10px;
}
.back_btn {
    background-color: #3f3f3f;
    border-color: #3f3f3f;
}
.back_btn:hover {
    background-color: #3f3f3f;
    border-color: #3f3f3f;
}
.btn-danger.back_btn:not(:disabled):not(.disabled).active, .btn-danger.back_btn:not(:disabled):not(.disabled):active{
    background-color: #3f3f3f;
    border-color: #3f3f3f;
}
.btn-danger.back_btn:not(:disabled):not(.disabled).active:focus, .btn-danger.back_btn:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 0.2rem rgb(63 63 63) !important;
}
.btn-danger.back_btn:not(:disabled):not(.disabled).active, .btn-danger.back_btn:not(:disabled):not(.disabled):active{
    box-shadow:0 0 0 0.2rem rgb(63 63 63) !important;
}
.ship_cls{
    margin-top:20px;
    margin-bottom:20px;
}
.ship_history{
    margin-bottom:20px;
}
.accecls {
    padding: 8px;
    font-size: 12px;
}
.rejcls {
    padding: 8px;
    font-size: 12px;
}
.col.list_tab {
    /* padding-right: 0px;
    padding-left: 0px; */
    padding-top:13px !important;
}
.padd{
margin-top:17px !important;
}
.form_padd {
    border: 1px solid #95999c;
    padding: 20px;
}
.add_fieldd {
    
    border: 1px solid #383838;
}
.form-btn.stock-add {
    margin-top: 4px;
}
.search_barr {
    background-color: black;
    padding: 15px;
   
    color: #7c7c7c;

}
.buttons {
    padding: 8px;
}
h5#importModal {
    color: black;
}
a.btn.btn-link {
    color: #007bff;
}
a.nav-link.active.btn-tab {
    background-color: #3c3c3c;
}
a.nav-link.btn-tab.active:hover {
    color: #fff;
}
a.nav-link.btn-tab {
    color: white;
    font-size: 18px;
}
a.nav-link.btn-tab:hover{
    color: white;
}
.btn-warning {
    color : #212529 !important
}
.notiempty {
    text-align: center;
}
.index-logo {
    text-align: center;
}
@media only screen and (min-width: 720px) {
.loginbox{
    width: 50%;
    margin: auto;
    margin-top: 15px;
}

}
@media only screen and (max-width: 720px) {
img.i-logo {
    height: 45px;
}
.row.justify-content-center.align-items-center{
    padding-top: 20% !important;
}
}

.form-group.clearfix.log-btn{
    text-align: center;;
}
button.btn.btn-info.btn-sm.pull-right.logbtn-align{
    width: 30%;
    padding: 5px;
    font-size: 16px;
}
.width-auto{
    width:auto;
}
.modal-title {
    color:#000;
}



.fixed_header {
    table-layout: fixed;
    border-collapse: collapse;
  }
  .fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 400px;
  }
  .fixed_header thead tr {
    display: block;
  }
  .fixed_header thead {
    background: black;
    color: #fff;
  }
  .fixed_header th,
  .fixed_header td {
    padding: 5px;
    text-align: left;
    width: 200px;
  }



.plus-icon{
    /* font-size: 20px; */
    font-weight: 700;
    color: #ff0000;
 }
 a.web-enquiry {
    background: linear-gradient(#f3cd80, #ca7f13)  !important;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 30px;
    text-align: left !important;
    padding: 25px;
}


.sidebar-nav .nav_>li>a.web-enquiry:hover{
    background: linear-gradient(#f3cd80, #ca7f13) !important;
    color:#fff !important;

}

a.chats {
    background: linear-gradient(#0077ef, #004e9c)  !important;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 30px;
    text-align: left !important;
    padding: 25px;
}


.sidebar-nav .nav_>li>a.chats:hover{
    background: linear-gradient(#0077ef, #004e9c) !important;
    color:#fff !important;

}
i.fas.fa-comments {
    font-size: 25px;
    margin-top: -25%;
}
i.fas.fa-envelope-open {
    font-size: 21px;
    margin-top: -25%;
}
select.form-control.mode{
    margin-top: 2px;
    height: 39px;
    /* background: linear-gradient(#efefef,#9e9e9e); */
    background-color: #dddada !important;
    border: none !important;
    font-size: 15px;
}

.custom-select {
    background: url("../images/custom-select.png") right 0.75rem center no-repeat !important;
    /* width: 11% !important; */
}

.boxes{
    padding: 20px;
}
.item-boxes {
    padding: 3.5rem !important;
    border-radius: 45px !important;
    margin-bottom: 35px !important;
    margin-top: 35px !important;
    height: 181px;
}
.info-box-content {
    margin-top: -30px !important;
    /* text-align: right !important; */
}
span.info-box-number {
    font-size: 50px !important;
    height: 70px !important;
}
.info-box-content.enquiry {
    color: #15a2b7;
    padding-left: 35% !important;
}
.info-box-content.quotation {
    color: #e0354b;
    padding-left: 27% !important;
}
.info-box-content.order {
    color: #26a643;
    padding-left: 35% !important;

}
.info-box-content.invoice {
    color: #fdbf0a;
    padding-left: 35% !important;

}
.card.prgrs {
    background-color: #212121;
}
li.nav-item.dropdown.show.mode {
    left: -20rem;
    margin-top: -10px !important;
}
a.btn.btn-info.btn-mode {
    padding: 17px;
    background: linear-gradient(#565656,#868686);
    border: none !important;
    color: #000 !important;
    font-weight: 900;
    width: 276px !important;
}
a.btn.btn-info.btn-mode.vendor {
    border-bottom-right-radius: 50px !important;
   
}
a.btn.btn-info.btn-mode.source {
    border-bottom-left-radius: 50px !important;
   
}
a.btn.btn-info.active.btn-mode {
    background: linear-gradient(#bababa,#f4f4f4);
    color: #ff0000 !important;
}
i.fa.fa-circle.btn-mode {
    margin-right: 16%;
    margin-top: 4px;
}
.progress-bar.bg-primary.enquiry_per_cls {
    background-color: #17a2b8 !important;
}
.progress-bar.bg-danger.quotation_per_cls {
    background-color: #dc3545 !important;
}
.progress-bar.bg-success.order_per_cls {
    background-color: #28a745 !important;
}

.yellow {
    color: #ffc107;
}
.blue {
    color: #17a2b8;
}
.red{
        color: #dc3545;
}
.green{
    color:#28a745;
}
.gray{
    color: #454d55;
}
.font-wght{
    font-weight:900;
}

@media only screen and (max-width: 720px) {
/* li.nav-item.dropdown.show.mode{
    display: none;;
} */
}
.date{
    float:right;
    text-align:right;
    color:#4d6b8c;
    font-weight:900;
}
.price_update{
    float:left;
    margin-top:5%;
    font-weight: 600;
}
.head_row{
    background-color:#335880;
}
.navOpen:after, .navOpen:before {
    display: none !important;
}
.closee{
    left: 0px !important;
    /* margin-top: 20%;*/
    color: #fff !important; 
}

@media only screen and (max-width: 720px) {
.create_enq{
    font-size: 12px !important;
    width: 41% !important;
    margin-left: 6% !important;
}
.mode{
    width: 46% !important;
    float: right !important;
    font-size: 12px !important;
    /* margin-top: -11% !important; */
    height: 35px !important;
}
.graph{
    padding:25px !important;
}
.graph_title{
    font-size:15px !important;
}
.sale_price {
    padding-left: 12px !important;
    padding-right: 12px !important;
    height:48% !important;
}
.font-wght {
    font-size: 25px !important;
    font-weight: 900;
}
.date{
    color: rgb(119, 119, 119);
    float: none;
    font-weight: 900;
}
.sale_title{
    color: rgb(255, 255, 255) !important;
    font-size: 14px !important;
}
.font-size{
    font-size:14px !important;
}
.total_sale{
    float: left;
    text-align: center;
    padding-top: 15% !important;
}
.padding{
    padding-top:5%;
}
.card.dark.mob-nav {
    height: 89%;
}
.item-boxes {
    padding: 1.5rem !important;
    border-radius: 30px !important;
    margin-bottom: 35px !important;
    margin-top: 35px !important;
    height: 105px;
}
span.info-box-number {
    font-size: 33px !important;
    height: 45px !important;
}
.info-box-number{
    margin-top: 1.25rem !important;
}
.info-box-content.enquiry {
    color: #15a2b7;
    padding-left: 28% !important;
}
.info-box-content.order {
    color: #26a643;
    padding-left: 28% !important;
}
.info-box-content.quotation {
    color: #e0354b;
    padding-left: 28% !important;
}
.info-box-content.invoice {
    color: #fdbf0a;
    padding-left: 28% !important;
}
.info-box-text{
font-size:14px !important;
}
li.nav-item.dropdown.show.mode {
    /* z-index: 9999; */
    top: 67px !important;
    width: 0px !important;
}
.mode-btn {
    left: 100px !important;
    height: 40px;
}
.inner-pad{
    margin-top:10% !important;
}
a.btn.btn-info.btn-mode.source {
    border-bottom-left-radius: 50px !important;
    width: 150px !important;
}
a.btn.btn-info.btn-mode.vendor {
    border-bottom-right-radius: 50px !important;
    width: 150px !important;
}
a.btn.btn-info.btn-mode {
    padding: 10px !important;
}
}



.sale_title{
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.font-size{
    font-size:18px;
}
.total_sale{
    float: left;
    text-align: center;
    padding-top: 8%;
}
.graph{
    float:left;
    background-color: #000;
    padding: 50px;
    margin-top:30px;
    border-radius:50px;
    z-index:999;
}
.sale_price{
    float: left;
    background-color: rgb(62, 62, 62);
    padding:50px;
    margin-top: -39px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 42%;
    padding-top: 10%;
}
.create_enq {
    width: 40%;
    float: left !important;
    margin-left: 17%;
    margin-right: 3%;
    background: linear-gradient(red,#621b1b);
    padding:10px; 
    padding-left:20px; 
    font-size:1rem; 
    color:#fff; 
    border-radius: 30px;
    padding-right:20px;  
    letter-spacing:1.5px;float:right

}
select.form-control.custom-select.mode {
    width: 40% !important;
    margin-right: 10%;
}

a span.info-box-number.enquiry_count_cls {
    color: #15a2b7;
    text-decoration: none !important;
}
a span.info-box-number.quotations_count_cls {
    color: #e0354b;
}
a span.info-box-number.order_count_cls {
    color: #26a643;
}
a span.info-box-number.invoice_count_cls {
    color: #fdbf0a;
}
.totalcnt {
    color : #454d55
}

a:hover { text-decoration: none; }
 
.scroll tr {
    display: flex;
}

.scroll td {
    flex: 1 auto;
    width: 1px;
    word-wrap: break-word;

}

.scroll thead tr:after {
    content: '';
    overflow-y: scroll;
    visibility: hidden;
    height: 0;
}

.scroll thead th {
    flex: 1 auto;
    display: block;
    width: 1px;
}

.scroll tbody {
    display: block;
    overflow-y: auto;
    height: 420px;
}

span.left {
    padding-left: 10px !important;
}
.box-padd{
    margin-left: 2% !important;
}
.checks{
    float: right;
    margin-top: 6% !important;
}


/* Ansiya */



@media only screen and (min-width: 992px){
       
    .btn-group.mode-btn.switch-mode{
              position: absolute !important;
        left: 30rem !important;
        margin-top: -10px !important;
        z-index:9999;

    }
    .create_enq{
        width: 57% !important;  
        margin-left: -8% !important;
    }
    select.form-control.custom-select.mode{
        width: 47% !important;
    }
    .sale_price{

        height: 50% !important;

    }
    .sidebar-nav .nav_ a{
        margin-bottom:6px !important;
    }
    .create_enq.source-enq {
    margin-left: 44% !important;
}
.card.dark{
    height:89% !important;
}


}
@media only screen and (min-width: 1600px){
.btn-group.mode-btn.switch-mode{
    
       
    left: 45rem !important;
    z-index: 9999;
    position: fixed !important;
}
.create_enq {
    width: 45% !important;
    margin-left: 14% !important;
}
select.form-control.custom-select.mode {
    width: 38% !important;
}
.create_enq.source-enq {
    margin-left: 56% !important;
}

.card.dark{
    height:92% !important;
}
}
nav.sidebar_right.price.open .navClosed {
    display: none !important;
}

.alert.alert-success {
    margin-left: 2%;
    margin-right: 2%;
}

.alert.alert-danger {
    margin-left: 1%;
    margin-right: 1%;
}



.wrapper-chat{
  background: #fff;
  max-width: 450px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}




/* Users List CSS Start */
/* .users{
  padding: 25px 30px;
} */
.users header,
.users-list a{
  display: flex;
  align-items: center;
  /* padding-bottom: 20px; */
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}
.wrapper-chat img{
  object-fit: cover;
  border-radius: 50%;
}
.users header img{
  height: 50px;
  width: 50px;
}
:is(.users, .users-list) .content{
  display: flex;
  align-items: center;
}
:is(.users, .users-list) .content .details{
  color: #000;
  margin-left: 20px;
  padding-top: 10px;
}
:is(.users, .users-list) .details span{
  font-size: 14px;
  font-weight: 500;
}
.users header .logout{
  display: block;
  background: #333;
  color: #fff;
  outline: none;
  border: none;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
}
.users .search{
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.users .search .text{
  font-size: 16px;
}
.users .search input{
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}
.users .search input.show{
  opacity: 1;
  pointer-events: auto;
}
.users .search button{
  position: relative;
  z-index: 1;
  width: 47px;
  height: 42px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  background: #fff;
  color: #333;
  outline: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease;
}
.users .search button.active{
  background: #333;
  color: #fff;
}
.search button.active i::before{
  content: '\f00d';
}
.users-list{
    max-height: 305px;
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#e5e5e5;
}
:is(.users-list, .chat-box)::-webkit-scrollbar{
  width: 0px;
}
.users-list a{
  /* padding-bottom: 10px;
  margin-bottom: 15px;
  padding-right: 15px; */
  border: 1px solid #fff;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  background-color:#fff;
}
.users-list a:last-child{
  margin-bottom: 0px;
  border-bottom: none;
}
.users-list a img{
  height: 40px;
  width: 40px;
}
.users-list a .details p{
  color: #67676a;
}
.users-list a .status-dot{
  font-size: 12px;
  color: #468669;
  padding-left: 10px;
}
.users-list a .status-dot.offline{
  color: #ccc;
}

/* Chat Area CSS Start */
.chat-area header{
  display: flex;
  align-items: center;
  padding: 10px 10px;
}
.chat-area header .back-icon{
  color: #333;
  font-size: 18px;
}
.chat-area header img{
  height: 45px;
  width: 45px;
  margin: 0 15px;
}
.chat-area header .details span{
  font-size: 17px;
  font-weight: 500;
}
.chat-box{
  position: relative;
  min-height: 250px;
  max-height: 250px;
  overflow-y: auto;
  padding: 10px 30px 20px 30px;
  background: #f7f7f7;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .text{
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
}
.chat-box .chat{
  margin: 15px 0;
}
.chat-box .chat p{
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%),
              0rem 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
  display: flex;
}
.chat-box .outgoing .details{
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .details p{
  background: #333;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
  display: flex;
  align-items: flex-end;
}
.chat-box .incoming img{
  height: 35px;
  width: 35px;
}
.chat-box .incoming .details{
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}
.incoming .details p{
  background: #fff;
  color: #333;
  border-radius: 18px 18px 18px 0;
}
.typing-area{
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area input{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}
.typing-area button{
  color: #fff;
  width: 55px;
  border: none;
  outline: none;
  background: #333;
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}
.typing-area button.active{
  opacity: 1;
  pointer-events: auto;
}

/* Responive media query */
@media screen and (max-width: 450px) {
  .form, .users{
    padding: 20px;
  }
  .form header{
    text-align: center;
  }
  .form form .name-details{
    flex-direction: column;
  }
  .form .name-details .field:first-child{
    margin-right: 0px;
  }
  .form .name-details .field:last-child{
    margin-left: 0px;
  }

  .users header img{
    height: 45px;
    width: 45px;
  }
  .users header .logout{
    padding: 6px 10px;
    font-size: 16px;
  }
  :is(.users, .users-list) .content .details{
    margin-left: 15px;
  }

  .users-list a{
    padding-right: 10px;
  }

  .chat-area header{
    padding: 15px 20px;
  }
  .chat-box{
    min-height: 400px;
    padding: 10px 15px 15px 20px;
  }
  .chat-box .chat p{
    font-size: 15px;
  }
  .chat-box .outogoing .details{
    max-width: 230px;
  }
  .chat-box .incoming .details{
    max-width: 265px;
  }
  .incoming .details img{
    height: 30px;
    width: 30px;
  }
  .chat-area form{
    padding: 20px;
  }
  .chat-area form input{
    height: 40px;
    width: calc(100% - 48px);
  }
  .chat-area form button{
    width: 45px;
  }
}
i.fas.fa-circle.chat-circle {
    position: unset !important;
    margin-left: -18px !important;
    font-size: 80% !important;
    margin-bottom: 25px;
}  
ul.nav.nav-tabs.tab-style {
    /* width: 54% !important; */
    border-bottom: none !important;
}
li.active.tab-table {
    background-color: #9e9e9e;
    width:100%;
    /* padding: 6px; */
    /* text-align: center; */
}
li.tab-table{
    background-color: #3f3f3f;
    padding: 10px;
    text-align: center;
    border: 1px solid #9e9e9e;
}
li.tab-table a {
    color: #fff;
}
li.active.tab-table a {
    color: #000;
}
p.tab-text {
    color: #fff;
}
li.tab-table a:hover {
    color: #fff !important;
}


.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    /* border: 3px solid #f1f1f1; */
    z-index: 999;
    background-color: #e5e5e5;
}
.top-bar {
    height: 35px;
    background-color: #000;
    /* width: 100% !important; */
    padding-top:5px;
    padding-bottom:5px;
}
span.chat-minus {
    padding-right: 20px;
    color: #fff;
}
span.chat-close {
    color: #fff;
}
section#myForm {
    width: 310px !important;
    height: 428px;
}
input.show {
    width: 90% !important;
    border-radius: 8px !important;
}
.intro {
    height: 35px !important;
}

section#myForm {
    z-index: 9999 !important;
}
section#chat-area .details {
    color: #000 !important;
}
section#chat-area {
    z-index: 9999 !important;
}
.chat-box {
    color: #000 !important;
    width:315px !important;
}
button.btn.btn-search.btn-block:hover {
    color: white !important;
}

.badgechat {
    padding: 5px 8px;
    border-radius: 50%;
    background-color: #fea839;
    color: white;
    margin-top: 10px;
  }
  .canvasjs-chart-credit {
    display:none;
}
 .indicator {
    color:red;
    font-size:10px;
 }